body {
  font-family: sans-serif;
  background: fixed;
  background-image: linear-gradient(rgb(0, 75, 120) 10%, rgb(0, 0, 75) 25%, rgba(0, 75, 120) 100%);
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
h1 {
  color: #eee;
  margin-bottom: 30px;
}
.container {
  margin: 0 auto;
  text-align: center;
}

#homeBar{
	display: flex;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
	text-align: center;
	justify-content: space-evenly;
}

#homeBar a{
	color: white;
	text-decoration: none;
}

#homeBar span{
  padding: .5em .5em;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}

#homeBar span:nth-child(2) {
  background-color: black;
}

#planetList {
  display: flex;
  flex-wrap: wrap;

  background: rgba(0, 0, 0, 0.05);
  outline: 2px solid rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 480px) {

  .character{
    margin-left: 2.75em !important;
  }

  #homeBar{
    max-width: 100%;
    flex-direction: column;
  }
}

.character {
  width: 19em;
  color: #eaeaea;
  text-shadow: .1em .1em .5em #157089;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 1em;
  padding: 10px 20px;
  margin: 2em;
  box-shadow: 0 0 1em .2em #c3c3c3;
}

img {
  width: 100%;
  border-radius: .5em;
}

#searchBar {
  width: auto;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
}

#searchWrapper {
  padding-bottom: 10px;
  position: relative;
}